*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.clear {clear:both;}

/* Typography
-------------------------------------------------------------------------------*/
html, body {font: 13px Arial, Arial, Helvetica, sans-serif;font-weight: normal;font-style: normal;line-height: 1.4;color: #fff;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {font-family:'Open Sans', sans-serif;text-transform: uppercase;line-height: 1;font-weight:300;}
h1, .h1 {font-size: 2.8em;margin: .5em 0;letter-spacing: -0.05em;}
h2, .h2 {font-size: 2.6em;margin: .5em 0;}
h3, .h3 {font-size: 2.4em;margin: .5em 0;}
h4, .h4 {font-size: 2.2em;margin: .5em 0;}
h5, .h5 {font-size: 2em;margin: .5em 0;}
h6, .h6 {font-size: 1.5em;margin: .5em 0;}


#menu-menu li a {font-family: Arial, Arial, Helvetica, sans-serif;font-weight: 800;letter-spacing: -1px;font-size: 2.4em;line-height: 0.9em;text-transform: uppercase;}
#menu-social li a {font-family: Arial, Arial, Helvetica, sans-serif;letter-spacing: -1px;font-size: 1em;line-height: 0.9em;text-transform: uppercase;}
#menu-menu li a, #menu-menu li a:visited, #menu-social a, #menu-social a:visited {color:#686868;}
#menu-menu li a:hover, #menu-menu li.current_page_item a, #menu-social a:hover {color:#fff;}
#menu-menu li.current_page_item li a {color:#686868;}

input, textarea, select {font-family:  Arial, Arial, Helvetica, sans-serif;color: #fff;}
p {margin:20px 0;}
strong {font-weight:bold;}

/* Color of links */
header a, header a:visited {color: #fff;text-decoration:none;}
header a:hover {color:#ecf0f1;}
#content a, #content a:visited {color:#fff;text-decoration:none;}
#content a:hover {color:#fff;text-decoration: underline;}
footer, footer a, footer a:visited {color:#fff;text-decoration:none;}
footer a:hover {color:#fff;}


::-moz-selection { /* Code for Firefox */
	color: #000;
	background: #fff;
}
::selection {
	color: #000;
	background: #fff;
}

img.alignleft {float:left;margin:0 10px 10px 0;}
img.alignright {float:right;margin:0 0 10px 10px;}

.container {max-width: 960px;min-width:850px;width:100%;margin: 0 auto 0;}
#header {width: 100%;}
#header, #content {float: left;}

/* Header
-------------------------------------------------------------------------------*/
/*#header {position: fixed;top: 90px;}*/
#header h1 {width:100%;margin:0;}

	/* Menu
	-------------------------------------------------------------------------------*/
	#menu-menu {position: relative;list-style: none;}
	#menu-menu {margin-top: 65px;}
	#menu-menu li {position:relative;list-style: none;}
	#menu-menu li a {padding:0;display: inline-block;}
	#menu-menu li ul a {margin-left:25px;}
	#menu-menu ul ul, #menu-menu li:hover ul ul {display:none;}
	#menu-menu ul li:hover ul {display:block;left: 100%;width: 100%;top: -35px;}



/* Content
-------------------------------------------------------------------------------*/
#content header {margin-top: 75px;}
	/* Form
	-------------------------------------------------------------------------------*/
	input,textarea {padding:8px!important;background:#000;background:rgba(0, 0, 0, 0.47);border:1px solid #303030;width:100%;-webkit-border-radius:2px;border-radius:2px;outline: 0;font-size: 1.1em;}
	.wpcf7-form p {margin:0 0 20px 0;clear:both;}
	.wpcf7-list-item {display:block;}
	input[type="submit"] {background: #000;color: #fff;font-weight: bold;font-family: 'Open Sans', sans-serif;width: 30%;margin: 0 auto;display: block;padding: 8px;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;}
	input[type="submit"]:hover {background: #fff;color: #000;}

#content article {padding: 0 5px 0 0;}
#content .left, #content .right {width:48%;padding: 1px;}
#content .left {float:left;margin-right:2%;padding:1px;}
#content .right {float:right;}


/* Footer
-------------------------------------------------------------------------------*/
#footer {color:#fff;text-align: left;width: 28.5%;margin-left:1.5%;position: fixed;top: 550px;opacity: 0.7;height: 40px;float: left;}
#footer a {text-decoration: underline;}
#footer .autor {display: block;}


/* Responsive
-------------------------------------------------------------------------------*/
@media only screen and (max-width: 850px) {

}
@media only screen and (max-height: 609px) {

}
@media only screen and (max-width: 519px) {

}